@import './colors.scss';
@import './typography.scss';
@import './header.scss';
@import './footer.scss';
@import './navbar.scss';

* {  
    color:$third-color;
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex-center($direction) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}